<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDy9U3g-3mV7oLzbo6Lm0NMk5EzozJbTJ8</string>
	<key>GCM_SENDER_ID</key>
	<string>846424604993</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pmfilmes</string>
	<key>PROJECT_ID</key>
	<string>pmfilmes-6e6c2</string>
	<key>STORAGE_BUCKET</key>
	<string>pmfilmes-6e6c2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:846424604993:ios:5599669daa7109b57061c0</string>
</dict>
</plist>